<div class="row mb-3 align-items-center">
  <div class="col-3">
    <%= f.label :rating, class: "form-label" %>
  </div>
  <div class="col-9">
    <div class="star-rating d-flex gap-1" data-controller="star-rating">
      <% (1..5).each do |star| %>
        <%= f.radio_button :rating, star, class: "star-input", data: { star_rating_target: "input" } %>
        <span
          class="star fs-4"
          data-action="click->star-rating#select"
          data-star-rating-target="star"
          data-value="<%= star %>">
          &#9733;
        </span>
      <% end %>
    </div>
  </div>
</div>
